*{
    margin: 0;
    padding: 0;
}

html,body{
    scroll-behavior: smooth;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.slide{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/**************** navigation ***************/

nav{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#logo{
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 60px;
    width: 20%;
}

nav ul{
    width: 60%;
    display: flex;
    list-style: none;
}

nav ul li{
    flex: 1;
}

nav ul li a{
    display: block;
    width: 100%;
    line-height: 60px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover{
    background-color: silver;
}

/**************** home ***************/

#home{
    background-color: dodgerblue;
}

/**************** presentation ***************/

#pres{
    background-color: crimson;
}


/**************** news ***************/

#news{
    background-color: white;
    padding-bottom: 30px;
}

#container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.cards{
    border: solid 1px #b6b6b6;
    border-radius: 10px;
    overflow: hidden;
}

.cards img{
    width: 100%;
    height: 300px;
    object-fit: cover;   
}

.cards-content{
    padding: 10px;
}

.cards-content h2{
    margin: 5px 0 10px;
}

.cards-content p{
    margin: 10px 0;
}

.cards-content .btn{
    display: block;
    text-align: center;
    width: 160px;
    line-height: 40px;
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
    transition: all 0.3s;
}

.cards-content .btn:hover{
    background-color: #134d86;
}


/**************** contact ***************/
#contact{
    background-color: gold;
}



/**************** news.php ****************/
#my-news{
    padding-top: 60px;
}

.cover{
    height: 30vh;
    background-position: center center;
    background-size: cover;  
    color: white;
    text-shadow: 2px 2px 3px black;
    padding-top: 15px;
}

.cover h1{
    margin: 15px 0;
    font-size: 45px;
}

.cover .date{
    font-size: 25px;
}

.content{
    padding-top: 35px;
}

.content .return{
    display: block;
    width: 150px;
    text-align: center;
    line-height: 35px;
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
    margin: 30px 0;
}



/************* media queries **********/

@media all and (max-width: 1200px){
    .container{
        width: 95%;
    }
}

@media all and (max-width: 900px){
    #container-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 600px){
    #container-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

